*~
\#*
.\#*
build*


!.gitignore
/.project
src/tools/pysodbuilder/tests/__pycache__/
src/tools/pysodbuilder/__pycache__/
src/tools/pysodbuilder/pysodb/__pycache__/
src/tools/pysodbuilder/pysodb/core/__pycache__/
src/tools/pysodbuilder/pysodb/codegeneration/__pycache__/
src/tools/pysodbuilder/tests/codegeneration/__pycache__/
src/tools/pysodbuilder/*/__pycache__/
src/tools/pysodbuilder/pysodb/*/__pycache__/
src/tools/pysodbuilder/tests/*/__pycache__/
src/tools/pysodbuilder/tests/testdata/*/__pycache__/

src/tools/pysodbuilder/pysodb/core/versioninfo.py
